.content {
    z-index: 999;
    padding-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.center-image {
    width: 600px;
    position: absolute;
    z-index: 997;
    width: 100%;
}

.title {
    position: relative;
    top: 750px;
    left: 100px;
    z-index: 998;
    font-size: 50px;
    color: white;
    font-weight: bold;
}

.text-cont {
    padding-top: 900px;
    z-index: 997;
    text-align:left;
}

.title-for-text {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
}

.text {
    width: 1000px;
    line-height: 25px;
}

.youtube-video {
    width: 1120px;
    height: 630px;
}